* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 

ul {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px
}

body{
    width: 1024px;
    margin: 0 auto;
}

h1{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 50px;
}

header {
    height: 100px;
    background: url("../img/vecteezy_geometric-pattern-png_17059474.png") repeat-x #4ea0ff;
    background-size: 160px;
    padding-top: 50px;  
}

header img {
    width: 180px;
    padding-left: 20px;
}

.data {
    color: gray;
    font-size: small;
}
.autore {
    color: gray;
}
.autore a {
    text-decoration: none;
    color: #4ea0ff ;
}
.immagini {
    width: 100%;
    height: 348px;
    background: url(../img/Sir_Tim_Berners-Lee.jpg) no-repeat left, url(../img/berners3.jpg) no-repeat right;
    background-size: 49%;
}
.image-description {
    font-size: small;
    width: 100%;
    padding-bottom: 10px;
}
.evidenziato {
    background-color: yellow
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}

thead {
    background-color: #ff4e98;
    color: white;
}

tbody tr {
    background-color: #656eee;
    color: rgb(0, 0, 0);
}

td, th {
    text-align: left;
    padding: 2px 10px
}
.first, .second {
    width: 25%;
}

.quote {
    padding-top: 20px;
}
.collegamento {
    padding-top: 10px;
    color: gray;
    text-decoration: none;
    font-style: oblique;
}

#monitor {
    width: 312px;
    height: 208px;
    background: url(../img/monitor.jpg) no-repeat;
}
#graph {
    width: 311px;
    height: 207px;
    background: url(../img/graph.jpg) no-repeat;
}
span.monitor_graph > strong {
    color: #ffffff;
    font-size: 25px;
    margin: 5%;
}
.grey {
    color: grey;
}